<div data-role="animation-player-row" class="animation-player-row">
  <div class="flexrow">
    {{> "modules/sprite-animations/templates/animationPreview.hbs" this}}
    <div class="flex1 flexcol">
      <div style="text-align:center">{{name}}</div>
      <div class="flexrow" style="margin-top:.5em">
        <div class="flex1"></div>
        <div class="flex0">
          <button type="button" data-action="queueAnimation" data-animation="{{name}}" title="{{localize "SPRITE-ANIMATIONS.PLAYER.QUEUE"}}"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="flex1"></div>
        <div class="flex0">
          <button type="button" data-action="playAnimation" data-animation="{{name}}" title="{{localize "SPRITE-ANIMATIONS.PLAYER.PLAY"}}"><i class="fa-solid fa-play"></i></button>
        </div>
        <div class="flex1"></div>
      </div>
    </div>
  </div>
</div>