<section
  class="tab {{tab.cssClass}} flex1"
  data-group="primary"
  data-tab="mesh"
>
  <p>{{localize "SPRITE-ANIMATIONS.CONFIG.MESH.DESCRIPTION"}}</p>

  {{#with meshAdjustments}}
    <div class="form-group">
      <label for="meshAdjustments.enable">{{localize
          "SPRITE-ANIMATIONS.CONFIG.MESH.ENABLE"
        }}</label>
      <input
        type="checkbox"
        {{checked enable}}
        name="meshAdjustments.enable"
        id="meshAdjustments.enable"
      />
    </div>

    <div class="form-group slim">
      <label>{{localize "TOKEN.Dimensions"}}</label>
      <div class="form-fields">
        {{!-- <label for="meshAdjustments.width">{{localize "Width"}}</label> --}}
        <label for="meshAdjustments.width">{{localize "SPRITE-ANIMATIONS.CONFIG.MESH.WIDTH.LABEL"}}</label>
        <input
          type="number"
          min="0"
          step="1"
          value="{{width}}"
          name="meshAdjustments.width"
          id="meshAdjustments.width"
        />

        <button type="button" data-action="toggleLinkSizeDimensions">
          <i class="fa-solid fa-fw fa-link-simple" inert></i>
        </button>

        <label for="meshAdjustments.height">{{localize "SPRITE-ANIMATIONS.CONFIG.MESH.HEIGHT.LABEL"}}</label>
        <input
          type="number"
          min="0"
          step="1"
          value="{{height}}"
          name="meshAdjustments.height"
          id="meshAdjustments.height"
        />

        <button type="button" data-role="drag-size" data-tooltip-direction="UP" data-tooltip="{{{adjustPosTooltip}}}"><i class="fa-solid fa-up-down-left-right"></i></button>
      </div>
    </div>

    <div class="form-group slim">
      <label>{{localize "Position"}}</label>
      <div class="form-fields">
        <label for="meshAdjustments.x">{{localize
            "AMBIENT_LIGHT.FIELDS.x.label"
          }}</label>
        <input
          type="number"
          step="1"
          value="{{x}}"
          name="meshAdjustments.x"
          id="meshAdjustments.x"
        />

        <label for="meshAdjustments.y">{{localize
            "AMBIENT_LIGHT.FIELDS.y.label"
          }}</label>
        <input
          type="number"
          step="1"
          value="{{y}}"
          name="meshAdjustments.y"
          id="meshAdjustments.y"
        />

        <button type="button" data-role="drag-pos" data-tooltip-direction="UP" data-tooltip="{{{adjustPosTooltip}}}"><i class="fa-solid fa-up-down-left-right"></i></button>
      </div>
    </div>

  {{/with}}
</section>